<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="/center/layout(center_nav='访问记录')">
<div th:fragment="center-content">
    <div class="service-record">
        <div class="navBar">
            <p class="navBar-selected" ><a th:href="@{/access/index?t=0&s=0}">我看过的需求</a></p>
            <p ><a th:href="@{/access/index?t=1&s=1}">我看过的雇主</a></p>
        </div>
        <div class="navBar-content">
            <div th:replace="/common/pagination::page(${page.pageNum},${page.pageSize},${page.total})">
                <div th:fragment="page-content">
                    <div class="repuired case-con clearfix">
                        <div class="case-list" th:each="item,iterStat:${page}">
                            <div class="case-list-img">
                                <img src="/img/11.png"/>
                            </div>
                            <p>需求名字</p>
                            <p>预算：5000</p>
                        </div>
                    </div>

                    <div class="guzhu case-con clearfix" style="display: none;" >
                        <div class="case-list" th:each="item,iterStat:${page}">
                            <div class="case-list-img">
                                <img src="/img/11.png"/>
                            </div>
                            <p>昆明理工篮球场地</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $(function () {
            var selectedMenuName = /*[[${#request.getParameter('t')}]]*/ 0;
            $(".service-record .navBar p.navBar-selected").removeClass("navBar-selected");
            $(".service-record .navBar p").eq(selectedMenuName).addClass("navBar-selected");
        })
    </script>
</div>

</html>