<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="/center/enterprise/order/layout">
<div th:fragment="order-content">
    <div class="order-title">
        <h4>名称</h4>
        <h4>雇主</h4>
        <h4>简介</h4>
        <h4>地点</h4>
        <h4>金额</h4>
        <h4>截止时间</h4>
        <h4>状态</h4>
    </div>
    <div th:replace="/common/pagination::page(${page.pageNum},${page.pageSize},${page.total})">
        <div th:fragment="page-content">
            <div class="cooperative-list" th:each="o,iterStat:${page}">
                <div class="cooperative-item">
                    <div class="cooperative-item-title">
                        <span class="cit-t" th:text="${(iterStat.index+1)+(page.pageNum-1)*page.pageSize+'.'}">1</span>
                        <span class="cit-t" th:text="${#dates.format(o.addTime, 'yyyy.MM.dd')}">2017.10.9</span>
                        <p class="cit-t">订单编号：<span  th:text="${o.tradeNo}">15241525225545221522</span></p>
                    </div>
                    <div class="cooperative-item-con order-item-con">
                        <div class="cooperative-name itbottom">
                            <div class="cooperative-item-img"><img th:src="${o.service.pictureUrl}" src="img/11.png"/></div>
                            <p th:text="${o.service.title}">需求名字需求名字需求需求名字需求名字需求需求名字需求名字需求需求名字需求名字需求</p>
                        </div>
                        <p class="orderInfo-item1" th:text="${o.seller.name}">雅思教育</p>
                        <p class="orderInfo-item2" th:text="${o.service.content}">需求名字需求名字需求需求名字需求名字需求需求名字需求名字需求需求名字需求名字需求</p>
                        <p class="orderInfo-item3" th:text="${o.service.address}">昆明</p>
                        <p class="orderInfo-item4" th:text="${o.price}">6000</p>
                        <p class="orderInfo-item5" th:text="${#dates.format(o.service.endTime, 'yyyy.MM.dd')}">2017.11.11</p>
                        <p class="orderInfo-item6" th:class="${o.payStatus.code==0? 'orderInfo-item6 waitPay':'orderInfo-item6'}" th:text="${o.payStatus.description}">已抢单</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>